<div class="drawer-side h-full items-stretch">
  <label for="nav-drawer" class="drawer-overlay"></label>
  <ul class="menu menu-sm lg:menu-md px-4 py-0 h-screen bg-base-100">
    <li class="menu-title bg-base-100 text-base-content mt-4">
      <%= link_to Rails.configuration.application_name, companies_path, class: "text-2xl font-bold" %>
      <div class="h-4"></div>
    </li>
    <% if user_signed_in? %>
      <% [
        {title: 'Dashboard', url: companies_path, icon: 'fa-solid fa-house'},
        ].each do |link| %>
        <%= render Nav::LinkComponent.new(title: link[:title], url: link[:url], icon: link[:icon]) %>
      <% end %>
    <% else %>
      <% [
        {title: 'Login', url: new_user_session_path},
        {title: 'Sign Up', url: new_user_registration_path}, 
        ].each do |link| %>
        <%= render Nav::LinkComponent.new(title: link[:title], url: link[:url]) %>
      <% end %>
    <% end %>
    <% if user_signed_in? %>
        <li class="grow bg-base-100"></li>
        <%= render Nav::LinkComponent.new(title: "Settings", url: edit_user_registration_path) %>
        <li>
          <%= button_to "Logout", destroy_user_session_path, method: :delete, class: 'w-full text-left font-medium cursor-pointer text-base-content-content group flex gap-x-3 rounded-md text-sm leading-6 font-semibold' %>
        </li>
        <div class="dropdown-divider"></div>
        <li class='list-none menu-title'>
          <span class="flex items-center text-base-content appearance-none space-x-4 font-semibold m-4">
            <%= image_tag avatar_path(current_user, size: 40), class: "rounded-full h-8 w-8 ring-2 ring-transparent" %>
            <p>
              Hello, <%= current_user.first_name %>
            </p>
          </span>
        </li>
    <% end %>
  </ul>
</div>
<%# <ul class="menu p-4 w-80 h-full bg-base-200 text-base-content"> %>