


<div class="row">
  <div class="col-sm-6">
    <h1>Company_entries</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_company_company_entry_path(@company), class: 'btn btn-primary' do %>
    Add New Company entry
  <% end %>
  </div>
</div>

<div class="overflow-x-auto">
  <table class="table table-zebra table-pin-rows">
    <thead>
      <tr>
          <th>Entry date</th>
          <th>Entry period</th>
          <th>Revenue</th>
          <th>Cash burn</th>
          <th>Gross profit</th>
          <th>Gross profit pct</th>
          <th>Ebitda</th>
          <th>Cash on hand</th>
          <th>Cac</th>
          <th>Ltv</th>
          <th>Arpu</th>
          <th>Customer count</th>
          <th>Next fundraise at</th>
          <th>User</th>
          <th>Source</th>
          
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @company_entries.each do |company_entry| %>
        <%= content_tag :tr, id: dom_id(company_entry), class: dom_class(company_entry) do %>
          

                      <td><%= company_entry.entry_date %></td>
                      <td><%= company_entry.entry_period %></td>
                      <td><%= company_entry.revenue %></td>
                      <td><%= company_entry.cash_burn %></td>
                      <td><%= company_entry.gross_profit %></td>
                      <td><%= company_entry.gross_profit_pct %></td>
                      <td><%= company_entry.ebitda %></td>
                      <td><%= company_entry.cash_on_hand %></td>
                      <td><%= company_entry.cac %></td>
                      <td><%= company_entry.ltv %></td>
                      <td><%= company_entry.arpu %></td>
                      <td><%= company_entry.customer_count %></td>
                      <td><%= company_entry.next_fundraise_at %></td>
                      <td><%= company_entry.user %></td>
                      <td><%= company_entry.source %></td>
          
          
            <td><%= link_to 'Show', company_company_entry(@company) %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
