<div class="page-header">
  <%= link_to company_entries_path, class: 'btn btn-default' do %>
    All Company_entries
  <% end %>
  <%= link_to edit_company_entry_path(@company_entry), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show company_entry</h1>
</div>

<dl class="dl-horizontal">
  <dt>Entry date:</dt>
  <dd><%= @company_entry.entry_date %></dd>
  <dt>Entry period:</dt>
  <dd><%= @company_entry.entry_period %></dd>
  <dt>Revenue:</dt>
  <dd><%= @company_entry.revenue %></dd>
  <dt>Cash burn:</dt>
  <dd><%= @company_entry.cash_burn %></dd>
  <dt>Gross profit:</dt>
  <dd><%= @company_entry.gross_profit %></dd>
  <dt>Gross profit pct:</dt>
  <dd><%= @company_entry.gross_profit_pct %></dd>
  <dt>Ebitda:</dt>
  <dd><%= @company_entry.ebitda %></dd>
  <dt>Cash on hand:</dt>
  <dd><%= @company_entry.cash_on_hand %></dd>
  <dt>Cac:</dt>
  <dd><%= @company_entry.cac %></dd>
  <dt>Ltv:</dt>
  <dd><%= @company_entry.ltv %></dd>
  <dt>Arpu:</dt>
  <dd><%= @company_entry.arpu %></dd>
  <dt>Customer count:</dt>
  <dd><%= @company_entry.customer_count %></dd>
  <dt>Next fundraise at:</dt>
  <dd><%= @company_entry.next_fundraise_at %></dd>
  <dt>User:</dt>
  <dd><%= @company_entry.user %></dd>
  <dt>Source:</dt>
  <dd><%= @company_entry.source %></dd>
</dl>
