<!DOCTYPE html>
<html class='h-full'>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body class='bg-base-100 drawer lg:drawer-open h-full '>
    <input id="nav-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col items-center justify-center">
      <div class="w-full navbar bg-base-100 lg:hidden">
        <div class="flex-none">
          <label for="nav-drawer" class="btn btn-square btn-ghost">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
          </label>
        </div> 
        <div class="flex-1 px-2 mx-2 text-2xl font-bold">Base10</div>
      </div>
      <div class="max-w-[100vw] px-6 xl:pr-2 h-[94vh] ">
        <div class="mx-auto max-w-7xl pt-16 lg:flex lg:gap-x-16 lg:px-8 flex flex-col h-full">
          <% if current_user != true_user %>
            <div class="alert alert-warning text-center">
              You're logged in as <b><%= current_user.name %> (<%= current_user.email %>)</b>
              <%= link_to stop_impersonating_madmin_impersonates_path, method: :post do %><%= icon("fas", "times") %> Logout <% end %>
            </div>
          <% end %>
          <%= render 'shared/notices' %>
          <%= yield %>
          <%= render 'shared/footer' %>
        </div>
      </div>
    </div> 
    <%= render 'shared/navbar' %>
  </body>
</html>
